<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-success" (click)="onNavigateToAdd();">New Player</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="container-table">
        <ng-container *ngIf="playersList.length>0">
          <table>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Age</th>
              <th>Skill Level</th>
              <th>Email Address</th>
              <th></th>
              <th></th>
            </tr>
            <tr *ngFor="let players of playersList">
              <td>{{players.FirstName}}</td>
              <td>{{players.LastName}}</td>
              <td>{{players.Age}}</td>
              <td>{{players.SkillLevel}}</td>
              <td>{{players.Email}}</td>
              <td>
                <button class="btn btn-success" (click)="showDeleteModal(players.PlayerID)">Delete</button>
              </td>
              <td>
                <button class="btn btn-success" (click)="onNavigateToEdit(players.PlayerID)">Edit</button>
              </td>
            </tr>
          </table>
        </ng-container>
        <ng-container *ngIf="playersList.length===0">
          <div>No Players Added Yet.<a [routerLink]="['/add']">Click Here To Add Player</a></div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- Delete Model -->
  <app-modal #deletePlayer>
    <div class="app-modal-header">
      Delete Player?
    </div>
    <div class="app-modal-body">
      Are you sure you want to delete this player?
    </div>
    <div class="app-modal-footer">
      <button class="btn btn-success" (click)="OnDeleteClicked()">Delete</button>
      <button class="btn btn-default" (click)="deletePlayer.hide()">Cancel</button>
    </div>
  </app-modal>
  <!-- END OF MODAL -->
</div>



