/* You can add global styles to this file, and also import other style files */
@media all and (max-width: 767px) {
  .mobile-success {
    display: block;
  }

  .mobile-failure {
    display: block;
  }

  .lg-screen-success {
    display: none;
  }

  .lg-screen-failure {
    display: none;
  }
}
